@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@font-face {
  font-family: Gotham;
  src: url(../fonts/GOTHAMMEDIUM.TTF);
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .mob_record {
    color: white;
  }
}
