@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
.popUpDiv {
  height: 80vh;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* height: 100%; */
}
.popup {
  /* position: fixed; */
  z-index: 1;
  width: 607px;
  height: 393px;
  /* background-color: rgba(0, 0, 0, 0.25); */
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 3.3rem;
  border-radius: 5px;
}
.close {
  color: Black;
  /* float: right; */
  align-self: flex-end;
  margin: 1rem;
  /* margin-top: 00.5rem; */
  /* justify-self: start; */
}
.close:hover {
  color: cyan;
  cursor: pointer;
}

.colorTag {
  color: black;
}
.shareWebView .shareContent {
  color: white;
}
.shareWebView .shareVideoPara {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 80%;
  /* or 19px */

  text-align: center;

  color: rgba(32, 37, 33, 0.64);
}
.shareWebView .shareInput {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 80%;
  /* or 11px */

  color: #9aa087;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  background: #f7f6f3;
  border: 1px solid #202521;
  box-sizing: border-box;
  border-radius: 5px;
  height: 46px;
  width: 301px;
  text-align: center;
}
.shareInput:focus {
  outline: none;
}
.shareIcons {
}
.shareWebView .shareShare {
  all: unset;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 80%;
  /* or 14px */
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
  padding-top: 0.3rem;
  height: 53px;
  width: 213px;
  background: #fe671f;
  border-radius: 26.5px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  color: white;
}

.shareShare:active,
.shareShare:focus {
  outline: none;
}
.shareWebView .shareVia {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 80%;
  /* or 14px */

  text-align: center;

  color: rgba(32, 37, 33, 0.6);
  margin-top: 1.5rem;
}
.shareWebView .shareContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shareIcons {
  display: flex;
  margin-top: 1rem;
}
.whatsapp {
  color: #5ac966;
  margin-right: 3rem;
}
.mail {
  color: rgb(224, 123, 123);
  margin-right: 2rem;
}
@media only screen and (max-width: 991px) {
  .popUpDiv {
  }
  .popup {
    /* position: fixed; */
    z-index: 1;
    width: 500px;
    height: 280px;
    /* background-color: rgba(0, 0, 0, 0.25); */
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-end;
    margin-top: 3.3rem;
    border-radius: 5px;
    position: absolute;
    /* left: 60%;
    top: 50%; */
    /* margin-left: 500px; */
  }
}
